
.container-fluid{
    background-color: #e9967a;
  
}


.copyrigth{
    padding: 2%;
    background-color: darksalmon;
    text-align: center;
}

.vareacion{
    padding: 2%;
}

.boton {
    padding: 6%;
    
}

